@font-face {
  font-family: 'leedo';
  src:  url('fonts/leedo.eot?if5x4j');
  src:  url('fonts/leedo.eot?if5x4j#iefix') format('embedded-opentype'),
    url('fonts/leedo.ttf?if5x4j') format('truetype'),
    url('fonts/leedo.woff?if5x4j') format('woff'),
    url('fonts/leedo.svg?if5x4j#leedo') format('svg');
  font-weight: normal;
  font-style: normal;
}

i[class^="leedo-"],
i[class*=" leedo-"],
span[class^="leedo-"],
span[class*=" leedo-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'leedo' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.leedo-telemarketing:before {
  content: "\e925";
}
.leedo-computer:before {
  content: "\e926";
}
.leedo-video-camera:before {
  content: "\e927";
}
.leedo-keyboard-right-arrow-button:before {
  content: "\e906";
}
.leedo-volume:before {
  content: "\e90a";
}
.leedo-pause-button:before {
  content: "\e923";
}
.leedo-play-button:before {
  content: "\e924";
}
.leedo-download-square:before {
  content: "\e921";
}
.leedo-coffee-cup:before {
  content: "\e922";
}
.leedo-globe:before {
  content: "\e916";
}
.leedo-lifetime-update:before {
  content: "\e917";
}
.leedo-multi-tool:before {
  content: "\e918";
}
.leedo-envelope:before {
  content: "\e915";
}
.leedo-password:before {
  content: "\e914";
}
.leedo-quote:before {
  content: "\e913";
}
.leedo-close:before {
  content: "\e920";
}
.leedo-user-shape:before {
  content: "\e900";
}
.leedo-chevron-up:before {
  content: "\e901";
}
.leedo-chevron-down:before {
  content: "\e902";
}
.leedo-cross:before {
  content: "\e903";
}
.leedo-link:before {
  content: "\e904";
}
.leedo-search:before {
  content: "\e905";
}
.leedo-wireframe:before {
  content: "\e907";
}
.leedo-website:before {
  content: "\e908";
}
.leedo-photo-camera:before {
  content: "\e909";
}
.leedo-chevron-right:before {
  content: "\e90b";
}
.leedo-resources:before {
  content: "\e90c";
}
.leedo-email:before {
  content: "\e90d";
}
.leedo-monitor:before {
  content: "\e90e";
}
.leedo-view:before {
  content: "\e90f";
}
.leedo-image:before {
  content: "\e910";
}
.leedo-paint-bucket:before {
  content: "\e911";
}
.leedo-full-size:before {
  content: "\e912";
}
.leedo-download-arrow:before {
  content: "\e919";
}
.leedo-left-arrow:before {
  content: "\e91a";
}
.leedo-right-arrow:before {
  content: "\e91b";
}
.leedo-browser:before {
  content: "\e91c";
}
.leedo-bucket:before {
  content: "\e91d";
}
.leedo-design-skills:before {
  content: "\e91e";
}
.leedo-paper-bag:before {
  content: "\e91f";
}
